h1 {
    color : gray;
}

body {
    color : #333333;
    font-family: arail;
    max-width: 650px;
    margin : 0 auto;
    padding : 0 16px;

    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

header {
    margin-top : 16px;
    margin-bottom: 48px;
}

.main-content {
    flex-grow: 1;
}

footer {
    color : #888888;
    border-top : 1px solid #eeeeee;
    margin-top : 16px;
    padding : 16px 0px;
    height: 50px;
    margin-top: 500px;
}
.portriat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color : #888888;
    margin-right : 16px;
    text-decoration: none;
}
input {
    border : 1px solid #cccccc;
    padding : 8px
}

button {
    cursor : pointer;
    border : 1px solid #888888;
    background: #888888;
    color: white;
    padding : 8px
}
